@import url('https://fonts.googleapis.com/css?family=Oleo+Script:400,700');
/* font-family: 'Oleo Script', cursive; */
@import url('https://fonts.googleapis.com/css?family=Pacifico');
/* font-family: 'Pacifico', cursive; */
.wrapper {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), transparent, transparent, rgba(255, 255, 255, 0.4));
}
.top-div {
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000,
        2px 2px 200px #fff,
        2px 2px 200px #ccc;
}
.countdown-div {
    font-family: 'Oleo Script', cursive;
    color: white;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000,
        2px 2px 200px #fff,
        2px 2px 200px #ccc;
}
.footer-div {
    font-family: 'Pacifico', cursive;
    color: black;
    justify-content: center;
    align-items: flex-end;
}
body {
    background-image: url('../images/oh_heck_paper.png');
}