@import url('https://fonts.googleapis.com/css?family=B612+Mono|IBM+Plex+Mono|Share+Tech+Mono|VT323&display=swap');
/*
font-family: 'VT323', monospace;
font-family: 'B612 Mono', monospace;
font-family: 'Share Tech Mono', monospace;
font-family: 'IBM Plex Mono', monospace;
*/
body {
    background: black;
}

main {
    font-family: 'VT323', monospace;
    font-size: 22px;
    line-height: 22px;
    margin: 0 auto;
    padding: 1em 0 1em 0;
}

pre {
    font-family: 'VT323', monospace;
}

a {
    text-decoration: none;
}

a:link {
    color: #B0E5FB;
}

a:hover {
    color: #8BB5C7;
}

a:active {
    color: #566F7A;
}

a:visited {
    color: #31647A;
}

p {
    line-height: 30px;
}

h1 {
    font-size: 35px;
}

.ac1 {
    color: #566F7A;
}
.ac2 {
    color: #52CBFF;
}
.ac3 {
    color: #B0E5FB;
}
.ac4 {
    color: #31647A;
}
.ac5 {
    color: #8BB5C7;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
    padding: 10px;
    /*background: lightgray;*/
    width: 600px;
    justify-content: center;
  }
  
  .grid-container > div {
    font-size: 22px;
    /*background: darkgray;*/
  }
  
/* start row-line and column-line, and end on row-line and column-line */
  
.title {
    grid-area: 1 / 1 / 1 / span 2;
    text-align: center;
}

.left-content {
    grid-area: 2 / 1;
    text-align: left;
    padding: 10px;
}
 
.ascii-art {
    grid-area: 2 / 2;
    text-align: right;
    padding: 5px;
}

.ascii-art > pre {
    font-size: 8px;
    line-height: 8px;
}

.footer {
    grid-area: 4 / 1 / 4 / span 2;
    text-align: center;
}